<div class="panel panel-primary top-50 panel-margin">
    <div class="panel-heading">
        <h3 class="panel-title">{{t_AboutComponent_PanelTitle}}</h3>
    </div>
    <div class="panel-body">
        {{t_AboutComponent_PanelContent}}
    </div>
    <div class="row top-100">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <img src="assets/img/astronomy_info.png">
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br>
    <br>
</div>