.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
.navbar-default {
    font-size: 14px;
    background-color: rgba(67, 165, 230, 1);
    border-width: 1px;
    border-radius: 4px;
}
.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(37, 169, 245, 0.77);
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(49, 154, 224, 1);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(91, 148, 212, 1);
}
.navbar-default .navbar-toggle {
    border-color: #5b94d4;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #5b94d4;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #5b94d4;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #43a5e6;
}
.navbar-margin {
    margin-left: 15px;
    margin-right: 25px;
}

.navbar-brand-font {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
}

.color-yellow {
    color: yellow;
}