<div class="container top-50">
  <div class="jumbotron text-center">
      <h2><b>{{t_LoginComponent_Title}}</b></h2>
      <img src="assets/img/astronomy.jpg">
      <h5><i>{{t_LoginComponent_Subtitle}}</i></h5>
      <br>
      <br>
      <a href="#" class="btn btn-social btn-google" (click)="userGoogleSignIn()"><span class="fa fa-google"></span>Sign in with Google</a>
      <a href="#" class="btn btn-social btn-facebook" (click)="userFacebookSignIn()"><span class="fa fa-facebook"></span>Sign in with Facebook</a>
      <a href="#" class="btn btn-social btn-github" (click)="userGithubSignIn()"><span class="fa fa-github"></span>Sign in with Github</a>
      <div class="alert alert-danger top-50" *ngIf="errorMessage != ''">
          {{errorMessage}}
      </div>
  </div>
</div>
