.top-50 {
    margin-top: 50px
}

.row-padding {
    padding: 10px 20px 20px 0px;
}

.panel-margin {
    margin-left: 10px;
    margin-right: 20px;
}

.width-100 {
    width: 100px;
}

.margin-right-4 {
    margin-right: 4px;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-top-28 {
    margin-top: 28px;
}

.text-align-right {
    text-align: right;
}
